* {
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 1600px;
}
.main{
    max-width: 1600px;
    background-color: #071553;
    padding: 100px;
    padding-bottom: 0px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.main form{
    text-align: center;
    width: 730px;
    height: 66%;
    background-color:#fafafa;
    padding:50px 100px ;
    border-radius: 90px;
}
.main h1{
   padding: 30px;
   letter-spacing: 2px;
   color:#A39274;
   font-weight: bold;
}
.frame{
    margin-top: 7%;
}
.fill input{
    padding: 10px;
    margin: 15px;
    border: none;
    background-color:#DED5CB;
}
::placeholder{
    color:#A39274;
    font-weight: bold;
    font-size: 13px;
}
.buttonlook{
    padding: 10px;
}
.buttonlook input{
    text-align: center;
    border: none;
    width: 250px;
    height:40px;
    background-color: #9EA5C5 ;
    color:#071553;
    font-size: 25px;
    font-weight: bold;
}
.register{
    margin: 20px;
}
.register a{
    text-decoration: none;
    margin: 20px;
}

.left_rabbit img{
    float: left;
    height: 280px;
    width: 100px;
    padding-top:100px;
}

.right_rabbit img{
    float: right;
    height: 280px;
    width: 100px;
    padding-top: 100px;
}

.up_moon{
    background-color: #071553;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left:1380px;

}  
.down_moon{
    background-color: #071553;
    overflow: hidden;
    position:absolute;
    top:380px;
    left :-60px;
}
.clear{
    clear: both;
}