* {
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 1600px;
  }
  
  @keyframes opac {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: "秀風體W3";
  
  }
  
  .main {
      max-width: 1600px;
      background-color: #F2F0F0;
      padding: 300px;
      padding-bottom: 50px;
      overflow: hidden;
      position: relative;
      margin-top: 20px;
      padding-top: 120px;
      height: max-content;
      
  
  }
  @font-face {
      font-family: "秀風體W3";
      src: url(秀風體W3.ttc);
  } 
  a {
    text-decoration: none;
  }
  
  .megaTab .tabContent {
    display: none;
    width: 800px;
    float: left;
    /* position: absolute;
    left: 380px; */
  }
  
  .megaTab .tabContent.open {
    display: block;
  }
  ul li{
    list-style-type: none;
  }
  
  /* 內容大區塊 */
  .tabContent {
    display: none;
    min-height: max-content;
    float: left;
    /* padding: 20px; */
    background-color: #fafafa;
    padding: 150px;
    border-radius: 0 50px 50px 50px;
  }
  
  .tabContent > * {
    line-height: 20px;
    padding: 150px;
  }
  
  .tabContent.open {
    display: block;
  }
  
  .tabContent.fade {
    animation: opac 0.8s;
  }
  
  .nav--tabs:after {
    content: "";
    display: table;
    clear: both;
  }
  /* 標籤 */
  .nav__item {
    border-radius: 10px 0 0 10px;
    margin-bottom: 3px;
  }
  .nav__item__title {
    display: block;
    padding: 5px;
    width: 35px;
    height: 100px;
    font-size: 20px;
    border: 1px solid transparent;
  
    color: #fafafa;
  }
  .nav__item__title.active {
    border-right: none;
  }
  .nav--tabs--horizon {
    width: 80px;
    float: left;
    padding-left: 5px;
    margin-right: -1px;
    margin-left: 3px;
    padding-left: 35px;
    position: relative;
  }
  
  